:root {
  --white: #FFFFFF;
  --light-grey: #f2f4f7;
  --dark: #1F2937;
  --dark-grey: #9CA3AF;
  --dark-grey-transparent: #9ca3af66;
  --blue: #346EC9;
  --basic-font: Arial, Helvetica, sans-serif;
  --header-height: 40px;
}

body {
  font-family: var(--basic-font);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  background-color: var(--blue);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img.todo-logo {
  display: inline;
}

/*
The header height was initally hardcoded as 40px

Cant figure out how to make it more flexible so I created
a variable that defines the header height and use it here

This way it atleast changes depending on the header-height variable

This is to ensure that the page doesnt get bigger than it needs to be
-> only full page
*/
.main-body {
  display: flex;
  flex: 1;
  max-height: calc(100% - var(--header-height));
}

.main-body > div {
  flex: 1;
}

.main-body > div:last-child {
  flex:3;
}

.sidebar {
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-options {
  overflow: auto;
}

.form-add-project {
  position: sticky;
  bottom: 0;
  left: 0;
  width: inherit;
}

.add-new-project {
  width: 100%;
  background-color: var(--light-grey);
  border: none;
  border-top: 1px solid var(--dark-grey-transparent);
  padding: 0.5rem;
  font-weight: bold;
}

.add-new-project:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--blue);
}

.menu-deafult,
.menu-projects {
  padding: 2rem 1.5rem;
}