:root {
  --white: #FFFFFF;
  --light-grey: #E5E7EB;
  --dark: #1F2937;
  --dark-grey: #9CA3AF;
  --blue: #346EC9;
  --basic-font: Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--basic-font);
}

h1 {
  background-color: var(--blue);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img.todo-logo {
  display: inline;
}