:root {
  --white: #FFFFFF;
  --light-grey: #f2f4f7;
  --dark: #1F2937;
  --dark-grey: #9CA3AF;
  --dark-grey-transparent: #9ca3af66;
  --blue: #346EC9;
  --basic-font: Arial, Helvetica, sans-serif;
  --header-height: 40px;
  --form-gap: 20px;
  --task-low: #069C56;
  --task-mid: #FF980E;
  --task-high: #D3212C;
}

/*
Body structure
*/
body {
  font-family: var(--basic-font);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  background-color: var(--blue);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img.todo-logo {
  display: inline;
}

/*
The header height was initally hardcoded as 40px

Cant figure out how to make it more flexible so I created
a variable that defines the header height and use it here

This way it atleast changes depending on the header-height variable

This is to ensure that the page doesnt get bigger than it needs to be
-> only full page
*/
.main-body {
  display: flex;
  flex: 1;
  max-height: calc(100% - var(--header-height));
}

.main-body>div {
  flex: 1;
}

.main-body>div:last-child {
  flex: 3;
}

/*
Sidebar with buttons and interactivity
*/
.sidebar {
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-options {
  overflow: auto;
}

/*
Make the button at the bottom of the page
*/
.form-add-project {
  position: sticky;
  bottom: 0;
  left: 0;
  width: inherit;
}

/*
Add new project button styling
*/
.add-new-project {
  width: 100%;
  background-color: var(--light-grey);
  border: none;
  border-top: 1px solid var(--dark-grey-transparent);
  padding: 0.5rem;
  font-weight: bold;
}

.add-new-project:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--blue);
}

/*
dividing the sidebar and some centering
*/
.menu-default,
.menu-projects {
  margin: 2rem 1.5rem;
}

.menu-default {
  border-bottom: 1px solid var(--dark-grey-transparent);
}

/*
Images for the default options
*/
.default-option>img {
  width: 48px;
  height: 48px;
}

.default-option {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.default-option>a {
  text-decoration: none;
}

.default-option>a:visited {
  color: black;
}

.default-option>a:hover {
  color: var(--blue);
}

/*
Styling for the dynamically added Projects
*/
.project-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/*
Centering the SVG imgs for Projects
*/
.project-button-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.project-button-container>button {
  flex-shrink: 0;
}

.project-button-container button {
  border: none;
  background-color: inherit;
}

/*
Making the buttons appropriate size and center
*/
.button-view>img,
.button-delete>img {
  width: 35px;
  height: 35px;
  opacity: 0.5;
  display: flex;
  justify-content: center;
}

.button-view>img:hover,
.button-delete>img:hover {
  opacity: 1;
  cursor: pointer;
}

/*
Make the Project's name not overflow and hide the longer names
*/
.project-option>h3 {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*
Highlight selected Projects
*/
.selected-project {
  color: var(--blue);
}

/*
Add space around the main page
*/
.project-display {
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/*
Space between the Project's name and its buttons
*/
.project-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.task-container {
  border: 2px solid var(--dark);
  border-radius: 5px;
  box-shadow: 1px 1px 6px 0px var(--dark-grey);
  padding: 0.5rem;
  position: relative;
}

.task-container-header h3 {
  color: var(--blue);
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.task-date-created,
.task-prio-created {
  font-weight: 700;
}

.task-date-created span {
  font-weight: 500;
}
.task-prio-created span {
  font-weight: 700;
}

.task-notes-created {
  width: 100%;
  height: 5rem;
  margin-top: 10px;
  resize: none;
  background-color: var(--light-grey);
  border: 2px solid var(--dark-grey);
  border-radius: 4px;
}

.task-done-button {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 25px;
  height: 25px;
}

.task-done-button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 6px 0px var(--blue);
}

.task-low {
  color: var(--task-low);
}

.task-mid {
  color: var(--task-mid);
}

.task-high {
  color: var(--task-high);
}

/*
Styling for select and button elements for the Project in main page
*/
.project-btn-container {
  display: flex;
  gap: 1rem;
}

.project-btn-container>* {
  flex: 1;
  width: 120px;
  height: 2rem;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 600;
}

.project-btn-container>select {
  border: 1px solid var(--blue);
}

.project-btn-container>select:hover {
  outline: 1px solid var(--blue);
  cursor: pointer;
}

.project-btn-container>button {
  border: 2px solid white;
  outline: 2px solid black;
  background-color: var(--blue);
  color: var(--white);
}

.project-btn-container>button:hover {
  cursor: pointer;
  outline: 1px solid var(--blue);
  border: 2px solid var(--blue);
  background-color: var(--white);
  color: var(--blue);
}

dialog {
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  width: 400px;
}

::backdrop {
  background-color: #000;
  opacity: 0.6;
}

dialog {
  border-radius: 10px;
  border: 2px solid var(--blue);
}

dialog>form {
  display: flex;
  flex-direction: column;
  gap: var(--form-gap);
}

dialog>form>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--form-gap);
}

dialog>div {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: calc(var(--form-gap) * 3);
}

dialog>div>button {
  width: 7rem;
}

form label {
  font-weight: 600;
  width: max-content;
  text-wrap: nowrap;
}

form input[type="text"],
form input[id="task-name"],
form input[type="date"],
form select,
form textarea {
  width: 60%;
}

dialog .form-cancel-btn {
  background-color: var(--white);
  border: 2px solid rgb(219, 0, 0);
}

dialog .form-submit-btn {
  background-color: var(--white);
  border: 2px solid var(--blue);
  color: #000;

}

dialog .form-cancel-btn,
dialog .form-submit-btn {
  border-radius: 5px;
  font-weight: 600;
}

dialog .form-cancel-btn:hover {
  cursor: pointer;
  border: 2px solid black;
  background-color: rgb(255, 64, 64);
  color: var(--white);
}

dialog .form-submit-btn:hover {
  cursor: pointer;
  background-color: var(--blue);
  border: 2px solid var(--dark);
  color: var(--white);
}